{% extends "bootstrap/base.html" %}

{% block title %}
Class Attendance
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Class Attendance</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT8V3E0gIb-odErfWP6OO2Litt0yUvU0WhwYJq4hgon_PsOfJlu7hOZxLEK_vJYiNzLg8t2BzvkSA3p/pubhtml" target = "_blank">Show list</a></li>
            <li><a href="{{url_for('download_file')}}" download > Download File</a></li>
            <li><a href="dataset" > Dataset</a></li>
            <li><a href="faces" > Recognition Image</a></li>
            <li><a href="detect" > Video</a></li>
          </ul>
          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
          <!--
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              
              <h4>Name: Sarawadee Noktawee</h4>
              <span class="text-muted">6035512061</span>
             
            </div>
            -->
          </div>

          <h2 class="sub-header">Class Attendace</h2>
          <!--<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Room</th>
                  <th>Time</th>
                  <th>Subject</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sarawadee</td>
                  <td>6035512061</td>
                  <td>5404</td>
                  <td>13.32</td>
                  <td>Eng job</td>
                </tr>
                
              </tbody>
            </table>-->
            
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT8V3E0gIb-odErfWP6OO2Litt0yUvU0WhwYJq4hgon_PsOfJlu7hOZxLEK_vJYiNzLg8t2BzvkSA3p/pubhtml?widget=true&amp;headers=false" height="800" width="800"></iframe>
            
           
          </div>
        </div>
      </div>
    </div>
{% endblock %}